a {
	color: #008fa0;
	text-decoration: underline;
}
a.pseudo,
.pseudo {
	text-decoration: none;
	border-bottom: 1px dotted #008fa0;
}
a:visited {
	color: #004ba0;
}
a:hover {
	color: #c4054d;
}

a[target="_blank"] {
	padding-right: 14px;
	background: url(../images/skin/icon-new-window.png) no-repeat right top;
}
a[target="_blank"]:visited {
	background-position: right -92px;
}
a[target="_blank"]:hover {
	background-position: right -46px;
}

#omsk {
	color: #333;
	font: normal 13px/18px 'Arial', sans-serif;
	overflow: hidden;
	background-color: white;
}

.page-wrapper {
	min-width: 960px;
	max-width: 1200px;
	padding: 0 10px 0 10px;
	margin: 0 auto;
}

#main-content, #inner-content {
	overflow: hidden;
}
	.content-wrapper {
		float: left;
		width: 100%;
	}
		#main-content .content-wrapper > .main-left {
			width: 69%;
			float: left;
		}
		#main-content .main-right {
			float: left;
			width: 31%;
		}
		#inner-content .content-wrapper > .content, .history_content .content {
			width: 75%;
			float: left;
		}
		#inner-content .sidebar, .history_content .sidebar {
			float: left;
			width: 25%;
			padding-top: 15px;
		}

		#single-column .content-wrapper > .content {
			width: 100%;
			float: none;
		}

		.history_content .persona { margin: 20px 30px 0 0; }
		.history_content .sidebar { margin-top: 45px; }
		#inner-content .sidebar p { font: normal 14px/22px 'Arial', sans-serif; padding: 7px 0; }

.group:after{
	content: "\0020"; 
	display: block; 
	height: 0; 
	visibility: hidden;
	clear: both;
}
/* //LAYOUT */

.button {
	position: relative;
	font: normal 13px/16px Arial;
	color: black;
	text-shadow: 0 1px 1px white;
	text-align: center;
	cursor: pointer;
}
	.button,
	.button > span {
		display: inline-block;
	}
	.button input {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
		opacity: 0;
		-moz-opacity: 0;
		-khtml-opacity: 0;
		cursor: pointer;
	}
	.ie7 .button,
	.ie7 .button > span {
		display: inline;
		zoom: 1;
	}
		.ie7 .button input,
		.ie8 .button input {
			filter: alpha(opacity=0);
		}
.button.button_small,
.button.button_small > span {
	height: 27px;
	background: url(../images/skin/common-sprite.png) no-repeat;
}
	.button.button_small {
		line-height: 27px;
		padding-left: 8px;
		background-position: 0 -37px;
	}
	.button.button_small > span {
		padding-left: 2px;
		padding-right: 10px;
		background-position: right -64px;
	}

.button.button_big,
.button.button_big > span {
	height: 38px;
	background: url(../images/skin/common-sprite.png) no-repeat;
}
	.button.button_big {
		line-height: 38px;
		padding-left: 11px;
		background-position: 0 -104px;
	}
	.button.button_big > span {
		padding-right: 15px;
		padding-left: 4px;
		background-position: right -142px;

		font-size: 16px;
	}

.search-wrapper {
	position: relative;
	/*padding-right: 70px;*/
}
	.search-wrapper .button {
		position: relative;
		float: right;
		margin-top: 5px;
		/*right: 17px; top: 30px;*/
	}
	.search-wrapper .text-input {
		width: 100%;
		font-size: 12px;
		height: 22px;
		line-height: 22px;
		padding: 0;
	}

.text-input {
	background: white;
	border: 1px solid #bcbfbf;
	border-radius: 3px;
}

.arrow-pointer_top {
	border: 1px solid #c0c7c4;
	border-top: 0;
	background: url(../images/skin/arrow-block-top.png) top center no-repeat;
}

.arrow-pointer_bottom {
	border: 1px solid #c0c7c4;
	border-bottom: 0;
	background: url(../images/skin/arrow-block-bottom.png) bottom center no-repeat;
}

/*.arrow-pointer:after {
	content: '';
	position: absolute;
	width: 14px; height: 7px;
	left: 50%; top: -1px;
	margin-left: -7px;
	background: url(../images/skin/common-sprite.png) 0 -29px no-repeat;
}*/
.arrow-pointer_right {
	border: 1px solid #c0c7c4;
	border-top: 0;
	background: url(../images/skin/arrow-block-top.png) top center no-repeat;
	background-position: -500px 0;
}

.shadow-wrapper {
	position: relative;
	display: inline-block;
}
	.shadow-wrapper > .shadow {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;

		box-shadow: inset 0 0 3px #333;
	}
	.shadow-wrapper > img {
		vertical-align: bottom;
	}

.header > span {
	position: relative;
	display: inline-block;
	padding: 0 20px;
	background: white;
}
	.header > span:before,
	.header > span:after {
		content: '';
		width: 4px;
		height: 4px;
		background: url(../images/skin/common-sprite.png) no-repeat;

		position: absolute;
		top: 12px;
	}
	.header > span:before {
		background-position: 0 -95px;
		left: 0;
	}
	.header > span:after {
		background-position: -4px -95px;
		right: 0;
	}

.marked-list > li {
	position: relative;
	padding-left: 18px;
}	
	.marked-list > li:before {
		content: '—';
		position: absolute;
		left: 0; top: 0;
	}
/* //common */

#header {
	position: relative;
	height: 105px;
	padding: 25px 0 0 0;
	background: url(../images/skin/omsk_buildings.png) right bottom no-repeat;
}
	.logo {
		position: relative;
		width: 180px;
		float: left;
		padding-left: 110px;
	}
		.logo a > img {
			position: absolute;
			left: 0; top: 0;
		}
		.logo > p#portal-city {
			font: normal 42px/36px 'Georgia', serif;
		}
		.logo > p#portal-adm {
			margin-top: 12px; margin-left: 2px;
			font: normal 12px/16px 'Arial', sans-serif;
		}

		.logo a, .logo a:visited { color: black; text-decoration: none; }
		.logo a:hover { color: black; }		

	.lang {
		margin: 0 0 0 32%;
		font: normal 13px/16px 'Arial', sans-serif;
	}
		.lang ul {
			margin: 15px 0 20px 0;
		}
		.lang ul li {
			display: inline-block;
			margin: 0 5px;
		}
			.lang ul li:first-child {
				margin-left: 0;
			}

			.ie7 .lang ul li {
				display: inline;
				zoom: 1;
			}
		.lang a.version-trigger {
			position:relative;
			display: inline-block;
			padding-left: 40px;			
		}	
			.lang a.version-trigger:after {
				content: '';
				width: 33px; height: 11px;
				position:absolute;
				left: 0; top: 3px;
				background: url(../images/skin/common-sprite.png) no-repeat;
			}
			.ie7 .lang a.version-trigger {
				display: inline;
				zoom: 1;
			}

	.admin {
		position: absolute;
		right: 0; top: 10px;
		width: 11px; 
		height: 13px;
		background: url(../images/skin/common-sprite.png) 0 -13px no-repeat;
		text-indent: -9999px;
	}	
/* //header */

div.menu-wrapper {
	height: 34px;
	border-top: 3px solid #c5064e;
	background-color: #F3F3F3;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#F3F3F3, endColorstr=#CFCFCF);
	background-image:-moz-linear-gradient(top, #F3F3F3 0%, #CFCFCF 100%);
	background-image:-webkit-linear-gradient(top, #F3F3F3 0%, #CFCFCF 100%);
	background-image:-ms-linear-gradient(top, #F3F3F3 0%, #CFCFCF 100%);
	background-image:linear-gradient(top, #F3F3F3 0%, #CFCFCF 100%);
	background-image:-o-linear-gradient(top, #F3F3F3 0%, #CFCFCF 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#F3F3F3), color-stop(100%,#CFCFCF));
}

ul#navigation {
	list-style: none;
	position: relative;
	z-index: 100;
}

ul#navigation:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
ul#navigation li {
	display: block;
	float: left;
	position: relative;
	height: 34px;
}
ul#navigation > li:hover, ul#navigation > li.selected:hover > a {
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c5064e, endColorstr=#df0557);
	background-image:-moz-linear-gradient(top, #c5064e 0%, #df0557 100%);
	background-image:-webkit-linear-gradient(top, #c5064e 0%, #df0557 100%);
	background-image:-ms-linear-gradient(top, #c5064e 0%, #df0557 100%);
	background-image:linear-gradient(top, #c5064e 0%, #df0557 100%);
	background-image:-o-linear-gradient(top, #c5064e 0%, #df0557 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#c5064e), color-stop(100%,#df0557));	
}

ul#navigation a {
	height: 100%;
	display: block;
	float: left;
	color: black;
	text-decoration: none;
	font: normal 15px/20px 'Georgia', serif;
}

ul#navigation a:hover {
	color: #fbed8a;
}

ul#navigation li.selected a {
	background-color: #FDF9DD/*#FBED8A*/;
} 

ul#navigation li span {
	margin: -16px 12px 0 12px;
	padding: 21px 0 0 0;
	display: block;
	white-space: nowrap;
}
ul#navigation li.selected:hover a {
	/*background: transparent url(../images/menu/menu_current_hover.gif) no-repeat 1em top;*/
}

ul#navigation dl {
	margin: 0; padding: 0;
	position: absolute;
	top: 34px; left: 0;
	z-index: 100;
	background-color: white;
	-moz-box-shadow: 0 0 5px rgba(38,35,30,0.5); /* Для Firefox */
	-webkit-box-shadow: 0 0 5px rgba(38,35,30,0.5); /* Для Safari и Chrome */
	box-shadow: 0 0 5px rgba(38,35,30,0.5); /* Параметры тени */
}

/*ul#navigation li.first dl { margin: 0; }*/

ul#navigation dd {
	padding: 10px 10px 0 10px;
	display: none;
	border-left: 1px solid #7F7F7C;
	border-right: 1px solid #7F7F7C;
}

ul#navigation dd.last {
	padding-bottom: 10px;
	border-bottom: 1px solid #7F7F7C;
}

/*ul#navigation dd.last { background: transparent; }*/

ul#navigation dl a, ul#navigation li.selected:hover dl a {
	font: normal 13px/18px 'Arial', sans-serif;
	float: none;
	color: black;
	cursor: pointer;
	background: url(../images/skin/arrow-menu-red.gif) 0 3px no-repeat;
}

ul#navigation dl a:hover, ul#navigation li.selected dl a:hover {
	text-decoration: underline;
	color: black;
	background: url(../images/skin/arrow-menu-black.gif) 0 3px no-repeat;
}

ul#navigation dl a span {
	margin: 0; border: none; padding: 0 0 0 15px;
	width: 100%;
}

ul#navigation li a:hover { border: 0; }

ul#navigation li:hover dd, ul#navigation li a:hover dd { display: block; }
/* //menu */

#index-banner {
	position: relative;
	margin: 12px 0 21px 0;
}	
	#index-banner > a {
		position: absolute;
		right: 14px; top: 7px;
	}
		#index-banner > a.pseudo {
			font: normal 11px/16px 'Arial', sans-serif;
			color: black;
			border-bottom-color: black;
		}		
/* //index banner */

#page {
	padding: 0 0 20px 0;
	border-bottom: 2px solid #2D2B27;
}
/* //content */

.site-map, .foreign-site-map {
	overflow: hidden;
	margin: 35px 0;
	text-align: justify;
	
    line-height: 0;
    font-size: 1px; /* 1px для Opera */

    /* Лекарство для IE6-7*/
    text-justify: newspaper;
    zoom:1;

    /* Включаем в работу последнюю строку*/
    text-align-last: justify;
}
	.site-map ul, .foreign-site-map ul {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		width: 14%;
	}
		.site-map ul li, .foreign-site-map ul li {
			margin: 8px 16px 0 8px;
			font: normal 11px/13px 'Arial', serif;
		}
			.site-map ul li.first-level, .foreign-site-map ul li.first-level {
				margin-bottom: 12px;
				font: italic 12px/16px 'Georgia', sans-serif;
			}
			.site-map ul li.first-level a, .foreign-site-map ul li.first-level a {
				color: #df0557;
			}
				.site-map ul li.first-level a:hover, .foreign-site-map ul li.first-level a:hover {
					color: black;
				}
		.site-map ul.helper, .foreign-site-map ul.helper {
			width: 100%;
            height: 0px;
            visibility: hidden;
            overflow: hidden;
		}		

.foreign-site-map ul { width: 20%; }

/* //site map */

.carousel {
	overflow: hidden;
	padding: 0 20px 0 195px;
	margin-top: 20px;
	background: #fdf9dd;
	border-bottom: 3px solid #c4054d;
	height: 210px;
}
	.carousel .menu {
		width: 197px;
		float: left;
		margin-left: -197px;
	}
		.carousel .menu li {
			margin: 0 2px 0 10px;
			padding: 0 0 0 10px;
			background: url(../images/skin/divider-bg.png) left top repeat-x;

			margin-bottom: -3px;
		}
			.carousel .menu li:first-child {
				background: none;
			}
			.carousel .menu li a {
				width: 190px; height: 45px;
				font: normal 13px/15px 'Arial', sans-serif;
				display: table-cell;
				vertical-align: middle;
				text-decoration: none;
			}

		.carousel .menu li.active {
			/*background: none;*/
			background: url(../images/skin/menu-active-bg.png) no-repeat;

			position: relative;
			z-index: 5;
			margin-left: -1px;
		}
		.carousel .menu li.active a {
			color: black;
			cursor: default;
			padding-left: 10px;	
		}

	.carousel .caru-content {
		overflow: hidden;
		padding: 21px 20px 21px 20px;
		display: none;
	}
	.carousel .content-holder .active {
		display: block;
	}
		.carousel .img-wrapper {
			float: left;
			margin-right: 20px;
			width: 41%;
			overflow: hidden;
			border: 1px solid #CAC7B0;
		}
		.carousel .img-wrapper:hover {
			border: 1px solid #c4054d;
		}
		.carousel .text-wrapper {
			word-wrap: break-word;
			overflow: hidden;
		}
		.carousel .img-wrapper a > img {
			position: relative;
			vertical-align: bottom;
		}
			.carousel .img-wrapper.right-oriented a > img {
				left: 100%; margin-left: -250px;
			}
			.carousel .img-wrapper.center-oriented a > img {
				left: 50%;
				margin-left: -125px;
			}
		.carousel .caru-content h2 {
			font: normal 22px/24px 'Georgia', serif;
			margin: 0;
			padding: 0;
		}
		.carousel .caru-content p {
			font: normal 13px/18px 'Arial', sans-serif;
			padding: 12px 0 0 0;
		}
/* //carousel */

.add-info {
	padding: 15px;
	margin-left: 20px;
}

.add-info_services {
	height: 182px;
	margin-top: 20px;
}
	.add-info h2 {
		text-align: center;
		font: italic 22px/24px 'Georgia', serif;
		/*margin-bottom: 5px;*/

		white-space: nowrap;
	}
	.add-info ul {
		margin: 8px 0 0 0;
		}

	.add-info ul li {
		display: inline-block;
		vertical-align: top;
		font: normal 13px/18px 'Arial', sans-serif;
		width: 33%;
		text-align: center;
	}
		.add-info ul .helper {
			width: 100%;
          height: 0px;
            visibility: hidden;
            overflow: hidden;
		}

#omsk-stat h3 {
	font: italic 22px/24px 'Georgia', serif;
	text-align: center;
}
	#omsk-stat p {
		margin: 12px 0 5px 0;
	}

#omsk-stat p span {
	display: block;
	text-align: center;
	color: #df0557;
	font: bold 30px/30px 'Arial', sans-serif;
	margin-bottom: 3px;
}

#omsk-stat .more-link-wrapper {
	text-align: right;
}

#omsk-stat a.more-link {
	font: italic 11px/14px 'Georgia', serif;
}

#omsk-stat a.more-link:hover {
	border-color: #DF0557;
}
/* //add-info */

.links-list-wrapper {
	height: 58px;
	margin: 20px 0 20px 0;
}

.links-list-wrapper table tr td {
	height: 58px;
	vertical-align: middle;
}

.substrate {
	height: 35px;
	background: url(../images/skin/sub-sprite.png) no-repeat top right;
	font: bold 14px/35px 'Arial', serif;
	text-align: center;
	text-shadow: 0 1px 1px white;
	padding: 0 23px 0 20px;
}

.links-list-wrapper ul {
	padding: 0 20px 0 17px;
}

.links-list-wrapper ul li {
	display: inline-block;
	font: normal 13px/16px Arial; 
	margin: 0 4px 0 4px;
}

.links-list-wrapper ul li:after {
	content: '∙';
	color: black;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	left: 4px; top: 1px;
}
	.links-list-wrapper ul li:last-child:after {
		content: '';
	}
/* //links list */

.news-wrapper {}
	.news-wrapper > .header {
		height: 12px;
		margin-bottom: 15px;
		font: italic 30px/30px 'Georgia', serif;
		text-align: center;
		border-bottom: 1px solid #ccc;
	}

.asset-abstract-list {
	background: url(../images/skin/arrow-block-top.png) no-repeat bottom center;
	padding-bottom: 10px;
	margin: 20px 0 0 0;
}

.asset-abstract-list .preview-wrapper, .asset-full-content .preview-wrapper {
	float: left;
	width: 145px;
}

.asset-abstract-list .text-wrapper {
	margin-left: 145px;
}

.asset-abstract-list .preview-wrapper img, .asset-full-content .preview-wrapper img {
	border: 1px solid #C0C7C4;
}

.asset-abstract-list .preview-wrapper img:hover {
	border: 1px solid #DF0557;
}

.asset-abstract-list h3 {
	font: normal 22px/24px 'Georgia', serif;
	margin-bottom: 10px;
}

.asset-full-content h2 {
	font: normal 30px/36px 'Georgia', serif;
}

.asset-abstract-list .asset-metadata, .asset-full-content .asset-metadata, .asset-title-in-list .asset-metadata {
	color: #79948C;
	font: normal 12px/15px 'Arial', sans-serif;
	margin-bottom: 10px;
}	

.asset-abstract-list .asset-metadata .vertical-separator, .asset-full-content .asset-metadata .vertical-separator, .asset-title-in-list .asset-metadata .vertical-separator {
	border-left: 1px dotted #79948c;
	margin-left: 15px;
	width: 15px;
	height: 10px;
	display: inline-block;
}	

.asset-abstract-list .asset-metadata a, .asset-abstract-list .asset-metadata a:visited,
.asset-full-content .asset-metadata a, .asset-full-content .asset-metadata a:visited,
.asset-title-in-list .asset-metadata a, .asset-title-in-list .asset-metadata a:visited {
	color: #79948C;
}	

.asset-abstract-list .asset-metadata a:hover, .asset-full-content .asset-metadata a:hover, .asset-title-in-list .asset-metadata a:hover {
	color: #DF0557;
}	

.asset-abstract-list .asset-content p {
	font: normal 14px/20px 'Arial', sans-serif;
	margin-bottom: 10px;
}	

.asset-full-content .asset-content {
	padding-top: 15px;
}

.asset-title-in-list h3 { margin-bottom: 2px; }

/* //news */

.portal-news-wrapper {
	padding-top: 20px;
}
	.portal-news-wrapper > h2 {
		font: italic 22px/27px 'Georgia', serif;
	}

.portal-news {
	padding-top: 20px;
}
.portal-news li {
	margin-bottom: 20px;
}	
	.portal-news .date {
		color: #79948c;
		font: italic 11px/16px Arial;
		margin-bottom: 4px;
	}
/* //portal news */

.info-wrapper {
	margin: 30px 0 30px 20px;
}

.info-wrapper > h3 {
	font: italic 30px/36px 'Georgia', serif;
}

.info-wrapper > h4 {
	font: italic 22px/24px 'Georgia', serif;
	margin-bottom: 15px;
}

.info-wrapper .asset-metadata {
	color: #79948C;
	font: normal 11px/15px 'Arial', sans-serif;
}

.info-wrapper p {
	font: normal 13px/18px 'Arial', sans-serif;
	margin: 15px 0;
}

.info-wrapper h3 + p {
	margin-top: 5px;
}

.info-wrapper .asset-full-new p {
	margin: 2px 0 15px 0;
}
/* //ad */

.sys-link {
	display: block;
	padding: 20px 10px 20px 70px;
	margin: 10px 0 10px 20px;
	border-bottom: 1px solid #bea673;

	background-color: #fdf9dd;
	background-position: 15px 50%;
	background-repeat: no-repeat;

	font: italic 20px/24px 'Georgia', serif;
}
	.sys-link_home {
		background-image: url(../images/skin/home-ico.png);
	}
	.sys-link_route {
		background-image: url(../images/skin/route-ico.png);
	}
	.sys-link_auction {
		background-image: url(../images/skin/auction-ico.png);
	}
/* //sys links */

.treatment.arrow-pointer {
	border-top: 0;
}

.treatment {
	margin: 40px 0 20px 20px;
}
	.treatment > .header {
		font: italic 22px/24px 'Georgia', serif;
		height: 12px;
		margin-bottom: 15px;
		/*border-bottom: 1px solid #c0c7c4;*/
		text-align: center;
		position: relative;
		top: -12px;
	}
		.treatment > .inner {
			padding: 0 20px 10px 20px;
		}

		.treatment p {
			margin: 12px 0;
			font: normal 13px/18px 'Arial', sans-serif;
		}	

.big-button-wrapper {
	text-align: center;
	padding: 7px 0 5px 0;
}

.small-button-wrapper {
	text-align: right;
	padding: 3px 0 0 0;
}

a.big-button, a.small-button,
.journal-content-article .button{ 
	overflow: hidden;
	display: inline-block;
	height: 30px;
	padding: 0 15px;
	border: 1px solid white;
	color: black;
	background:#CFCFCF;
	background:-moz-linear-gradient(top, #F3F3F3 0%, #CFCFCF 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F3F3), color-stop(100%,#CFCFCF));
	background:-webkit-linear-gradient(top, #F3F3F3 0%,#CFCFCF 100%);
	background:-o-linear-gradient(top, #F3F3F3 0%,#CFCFCF 100%);
	background:-ms-linear-gradient(top, #F3F3F3 0%,#CFCFCF 100%);
	background:linear-gradient(top, #F3F3F3 0%,#CFCFCF 100%);
	font: normal 14px/30px 'Arial', sans-serif;
	border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
	box-shadow:0 2px 2px #aaa; -webkit-box-shadow:0 2px 2px #aaa; -moz-box-shadow:0 2px 2px #aaa;
	text-shadow: 0 1px 1px white; 
	text-decoration: none;
}
	
	.big-button:hover, .small-button:hover,
	.journal-content-article .button:hover
	{ background:#ECECEC;
		background:-moz-linear-gradient(top, #ECECEC 0%, #B5B5B5 100%);
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ECECEC), color-stop(100%,#B5B5B5));
		background:-webkit-linear-gradient(top, #ECECEC 0%,#B5B5B5 100%);
		background:-o-linear-gradient(top, #ECECEC 0%,#B5B5B5 100%);
		background:-ms-linear-gradient(top, #ECECEC 0%,#B5B5B5 100%);
		background:linear-gradient(top, #ECECEC 0%,#B5B5B5 100%); }
		
	.big-button:active, .small-button:active,
	.journal-content-article .button:active
	 { background:#B5B5B5;
		background:-moz-linear-gradient(top, #B5B5B5 0%, #ECECEC 100%);
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#B5B5B5), color-stop(100%,#ECECEC));
		background:-webkit-linear-gradient(top, #B5B5B5 0%,#ECECEC 100%);
		background:-o-linear-gradient(top, #B5B5B5 0%,#ECECEC 100%);
		background:-ms-linear-gradient(top, #B5B5B5 0%,#ECECEC 100%);
		background:linear-gradient(top, #B5B5B5 0%,#ECECEC 100%);
		text-shadow:none; } 

a.small-button {
	height: 20px;
	font: normal 13px/20px 'Arial', sans-serif;
}

/* //treatment */

.slider-wrapper {
	overflow: hidden;
	position:relative;
	padding: 20px 20px 35px 20px;
	margin: 15px 0 20px 0;
	height: 240px;

	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#514f49, endColorstr=#2b2a25);
	background-image: linear-gradient(bottom, rgb(81,79,73) 0%, rgb(43,42,37) 100%);
	background-image: -o-linear-gradient(bottom, rgb(81,79,73) 0%, rgb(43,42,37) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(81,79,73) 0%, rgb(43,42,37) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(81,79,73) 0%, rgb(43,42,37) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(81,79,73) 0%, rgb(43,42,37) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(81,79,73)),
		color-stop(1, rgb(43,42,37))
	);
}	
	.slider-wrapper .head-wrapper {
		padding-top: 7px;
		padding-left: 90px;
	}
	.slider-wrapper .head {
		font: italic 26px/26px 'Georgia', serif;
		float: left;
		margin-top: -8px;
		margin-left: -92px;
	}
	.slider-wrapper p {
		font: normal 16px/21px 'Georgia', serif;
		padding-right: 20px;
	}
	.video-wrapper p a,
	.video-wrapper .head a {
		color: #00e4ff;	
	}
	.photo-wrapper p a,
	.photo-wrapper .head a {
		color: #fdf3b1;
	}
	.slider-wrapper a:hover {
		color: white;
	}

.slider-wrapper .slider-close-wrapper {
	position:absolute;
	right: 10px; bottom: 12px;
	margin-right: 10px;
}
.slider-wrapper .slider-close {
	color: white;
	font: normal 11px/16px 'Arial', sans-serif;
	border-color: white;
}
	.slider-wrapper .slider-close:after {
		content: '↑';
		position:absolute;
		width: 10px;
		text-align: right;
		right: -10px;
	}
	.slider-wrapper .slider-close:hover {
		color: #C4054D;
		border-color: #C4054D;
	}

.slider_turn-off.slider-wrapper {
	display: block !important;
	background: #2d2b27;
	filter: none;
	height: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 90px;
}
.slider_turn-off .head-wrapper {
	float: left;
	margin-left: -90px;
}
.slider_turn-off .slider-close-wrapper {
	z-index: 99;
	padding-left: 40px;
	background: url(../images/skin/common-sprite.png) -151px 0 no-repeat;
}
.slider_turn-off .slider-close {
	background: #2d2b27;
}
.slider_turn-off .slider-close:after {
	content: '↓';
}
	.slider_turn-off .head-wrapper .head {
		font-size: 20px;
		margin-top: -12px;
		padding-left: 22px;
		position: relative;
	}

.slider_turn-off .preview-wrapper {
	display: none;
}
.slider_turn-off .scrollable-content p {
	color: #acacac;
	font: normal 12px/14px 'Arial', sans-serif;
	white-space: nowrap;
	padding-right: 0;
}
	.slider_turn-off .scrollable-content p a {
		color: #ACACAC;
		position: relative;
	}
	.slider_turn-off .scrollable-content p a:hover {
		color: white;
	}

.slider_turn-off .scrollable-content .preview-wrapper + p {
	position: relative;
	line-height: 40px;
	overflow: hidden;
	margin-right: 20px;
}
/*	.slider_turn-off .scrollable-content .preview-wrapper + p:after {
		content: '';
		position: absolute;
		right: 0; 
		top: 0;
		height: 40px;
		width: 40px;
		background: url(../images/skin/common-sprite.png) -151px 0 no-repeat;
	}*/

	.slider_turn-off .scrollable-content .fadeout {
		position: absolute;
		right: 0; 
		top: 0;
		height: 40px;
		width: 40px;
		background: url(../images/skin/common-sprite.png) -151px 0 no-repeat;
		z-index: 99;
	}


.slider_turn-off .scroll-bar-container {
	display: none !important;
}

.slider_turn-off .scrollable-content, 
.slider_turn-off .scrollable-content > div.items {
	height: 40px;
	position: relative;
	top: -5px;
}

.slider_turn-off .scrollable-content > div.items {
	width: auto !important;
	margin-left: 0 !important;
}
.slider_turn-off .scrollable-content > div.items > div.asset-abstract {
	height: 40px;
	width: 50% !important;
}

/*.slider_turn-off.photo-wrapper .scrollable-content > div.items > div.asset-abstract {
	width: 51% !important;
}*/

.scroll-bar-container {
	position: relative;
	padding: 6px 24px;
	height: 18px;
	display: none;
}
	.scroll-bar-container .arrow-button {
		position: absolute;
		top: 0;

		width: 18px; height: 18px;
		background: url(../images/skin/common-sprite.png) no-repeat;
	}
		.scroll-bar-container .arrow-button.right {
			right: 0;
			background-position: -83px 0;
		}
			.scroll-bar-container .arrow-button.right:hover {
				background-position: -102px -18px;
			}
		.scroll-bar-container .arrow-button.left {
			left: 0;
			background-position: -83px -18px;
		}
			.scroll-bar-container .arrow-button.left:hover {
				background-position: -100px 0;
			}
		.scroll-bar-container .scroll-bar-bg {
			height: 4px;
			border-bottom: 1px solid #5e5e5c;
			background: black;
		}	
			.scroll-bar-container .scroll-bar-wrapper {
				margin: 0 auto;
				height: 4px;
			}
			.scroll-bar-container .scroll-bar {
				position: absolute;
				background: #5e5e5c;
				height: 4px;
				top: 0;

				cursor: pointer;
			}
				.scroll-bar-container .scroll-bar:hover {
					background: #989896;
				}
		.scroll-bar-container .ui-handle-helper-parent {
			position: relative;
			width: 100%;
			height: 100%;
			margin: 0 auto;
		}		

.scrollable-content,
.scrollable-content > div.items {
	overflow: hidden;
}
	.scrollable-content > div.items {
		float: left;
	}
	.scrollable-content .preview-wrapper {
		padding: 10px 10px 15px 140px;
	}
		.scrollable-content .preview-wrapper .preview-image {
			float:left;
			margin-left: -140px;
		}
		.scrollable-content .preview-wrapper + p {
			padding-right: 20px;
			margin-left: 1px;
		}

.scrollable-content > div.items > div.asset-abstract {
	float:left;
}

.scrollable-content > div.items > div.asset-abstract img {
	border: 1px solid #2B2A25;
}

.scrollable-content > div.items > div.asset-abstract img:hover {
	border-color: white;
}


.items .metadata-tags {
	font: normal 11px/16px 'Arial', sans-serif;
	padding: 12px 0 0 0;
	display: block;
}
.items .metadata-tags .tag-dot {
	display: none;
}

.items .metadata-tags .tag {
	display: block;
}

.items .metadata-tags .tag a {
	color: #acacac;
	margin: 0 0 2px 0;
}		

.items .metadata-tags .tag a:hover {
	color: white;
}		

.time-info {
	position:relative;
	display:inline-block;
	height: 20px;
	padding: 0 7px 0 30px;
	color: black;
	font: bold 12px/21px Arial;	
}
	.ie7 .time-info {
		display:inline;
		zoom:1;
	}
	.time-info_video {
		filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#1ac9dc, endColorstr=#92f4ff);
		background-image: linear-gradient(bottom, rgb(26,201,220) 0%, rgb(146,244,255) 100%);
		background-image: -o-linear-gradient(bottom, rgb(26,201,220) 0%, rgb(146,244,255) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(26,201,220) 0%, rgb(146,244,255) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(26,201,220) 0%, rgb(146,244,255) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(26,201,220) 0%, rgb(146,244,255) 100%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(26,201,220)),
			color-stop(1, rgb(146,244,255))
		);
	}
		.time-info_video:after {
			content: '';
			position:absolute;
			left: 7px; top: 4px;
			width: 17px; height: 11px;
			background: url(../images/skin/common-sprite.png) -40px 0 no-repeat;
		}
		.asset-abstract-list .time-info_video:after { left: 0; top: 1px; }
		.asset-abstract-list .time-info_photo:after { left: 0; top: 1px; }

	.time-info_photo {
		padding-left: 27px;

		filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e7bf48, endColorstr=#fbefa0);
		background-image: linear-gradient(bottom, rgb(231,191,72) 0%, rgb(251,239,160) 100%);
		background-image: -o-linear-gradient(bottom, rgb(231,191,72) 0%, rgb(251,239,160) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(231,191,72) 0%, rgb(251,239,160) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(231,191,72) 0%, rgb(251,239,160) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(231,191,72) 0%, rgb(251,239,160) 100%);

		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(231,191,72)),
			color-stop(1, rgb(251,239,160))
		);
	}	
		.time-info_photo:after {
			content: '';
			position:absolute;
			left: 7px; top: 4px;
			width: 14px; height: 11px;
			background: url(../images/skin/common-sprite.png) -64px 0 no-repeat;
		}
	.asset-abstract-list .time-info {
		background: none;
		filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=white, endColorstr=white);
		padding-left: 22px;
		line-height: 16px;
		height: 16px;
		margin-bottom: 8px;
		}
/* //slider wrapper */

.tooltip{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	 display: none;

	color: #333;
	font-size: 13px;
	line-height: 15px;
	padding: 10px;
	background: url(../images/skin/sub-tooltip.png) repeat-x;
}
            
#footer {
	color: black;
	font: normal 11px/20px 'Arial', sans-serif;
	background: #fdf9dd;
	padding: 20px 0 20px 0;
}
	#footer a {
		color: black;
	}
	#footer a:hover {
		color: #C4054D;
	}
	#footer a.small-button:hover {
		color: black;
	}

	#footer #copy {
		float: left;
		width: 38%;
	}
		#footer #copy p, #footer #foreign-copy p {
			padding: 0 10px 0 20px;
		}

	#footer #developers, #footer #foreign-developers {
		float: left;
		width: 44%;
		background: url(../images/skin/developer-logo.png) top left no-repeat;
	}
		#footer #developers p, #footer #foreign-developers p {
			padding: 0 10px 0 35px;
		}

	#footer .foot-search {
		width: 18%;
		float: right;
		margin-top: 5px;
	}
		#footer .foot-search fieldset {
			margin-right: 20px;
			border: none;
		}

	#footer #foreign-copy, #footer #foreign-developers {
		float: left;
		width: 50%;
	}


/* //footer */

.null {
	display: none;
}

.clear {
	font-size: 0; 
	line-height: 0;
	clear: both;
	overflow: hidden;
}
/* //float clearer */

.tag-dot {
	font-weight: bold;
}
/* //tags */

.crumbs {
	padding: 10px 0;
	font: normal 13px/13px 'Arial', sans-serif;
	border-bottom: 1px solid #C0C7C4;
}

.crumbs a:visited {
	color: #008FA0;
}

.crumbs a:visited:hover {
	color: #C5064E;
}

.crumbs .link-home {
	width: 11px;
	height: 10px;
	display: inline-block;
	background: url(../images/skin/icon-home-nav.png) top left no-repeat;
}

.crumbs .link-home:hover {
	background-position: left -20px;
}

.crumbs .link-separator {
	padding: 0 5px;
	color: #79948C;
}
/* //breadcrumb navigation */

.nav-menu, .tag-cloud {
	padding: 0 30px 15px 0;
}

.nav-menu ul, ul.tag-cloud {
	list-style-type: none;
}

.nav-menu ul li, .tag-cloud li {
	padding: 6px 15px 6px 3px;
	margin: 0;
	background: url(../images/skin/arrow-menu-red.gif) left center no-repeat;
	display: block;
	float: none;
}

.nav-menu li:hover, .tag-cloud li: hover {
	background: url(../images/skin/arrow-menu-black.gif) left center no-repeat;
}

.nav-menu a, .nav-menu a:visited, .tag-cloud a, .tag-cloud a:visited {
	font: normal 13px/18px 'Arial', sans-serif;
	background-position: 0 4px;
	padding-left: 15px;
	color: #008FA0;
	display: block;
}

.nav-menu a:hover, .nav-menu a:visited:hover, .tag-cloud a:hover, .tag-cloud a:visited:hover {
	color: #C5064E;
}

.nav-menu li.selected, .nav-menu li.open, .tag-cloud li.current_tag {
	background: url(../images/skin/menu-current.png) right center no-repeat;
}
.nav-menu li.selected a, .tag-cloud li.current_tag a {
	font-weight: bold;
}

ul.layouts ul.layouts {
	display: none;
	visibility: hidden;
}

h6.side-menu-header {
	font: normal 16px/20px 'Georgia', serif;
	margin: 30px 40px 5px 0;
}
/* //navigation */

.lfr-panel-titlebar {
	display: none;
}

.lfr-panel-container {
	border: none;
}
/* //tags navigation clear */

.taglib-search-iterator-page-iterator-top { display: none; }

div.results-grid { 
	background-color: #F3F1E6;
	margin: 8px 0;
}
div.results-grid table tr.results-header { display: none; visibility: hide; }

div.results-grid table tr.results-header th.col-1,
div.results-grid table tr td.col-1 { width: 25%; padding-right: 20px; }
div.results-grid table tr.results-header th.col-2,
div.results-grid table tr td.col-2 { width: 65%; padding-right: 20px; }
div.results-grid table tr.results-header th.col-3,
div.results-grid table tr td.col-3 { width: 10%; color: #79948C;}

div.results-grid table tr.results-header:hover,
div.results-grid table tr:hover { background-color: #F9F8F2; }

div.results-grid table { width: 100%; }
div.results-grid table td { 
	padding: 8px 5px;
	font: normal 13px/18px 'Arial', sans-serif;	
}

div.results-grid table td img {
	width: 29px;
	height: 20px;
	margin-right: 10px;
}

div.results-grid table td .filename {
	display: block;
	position: relative;
	left: 0;
	top: 0;
	margin-left: 39px;
}

div.results-grid table tr td .metadata-create-date {
	color: #79948C;
	font-size: 11px;
}

div.results-grid table tr td .localdoc { color: #2C8700; }
div.results-grid table tr td .attention { color: #E61B23; }
/* //documents table display */

table.phototable tr td, table.videotable tr td {
	padding-right: 30px;
	font: normal 13px/18px 'Arial', sans-serif;	
}

table.phototable tr td.imgdesc, table.videotable tr td.imgdesc {
	padding-bottom: 20px;
} 

span.filesize {
	color: #79948C;
	font: normal 11px/14px 'Arial', sans-serif;	
}

table.phototable tr td img, table.videotable tr td img {
        border: 1px solid #79948C;
}

table.phototable tr td img:hover, table.videotable tr td img:hover {
        border: 1px solid #C5064E;
}

.imggodown {
	vertical-align: bottom;
}

.photogallery, .videogallery {
	padding-top: 20px;
}
/* //photogallery */

#statusDocsLayout {
	padding: 10px 0 20px 0;
}

#statusDocsLayout table {
	border: 1px solid #BEA673;
	font: normal 14px/22px 'Arial', sans-serif;
}

#statusDocsLayout table tr td {
	padding: 0 0 10px 10px;
	vertical-align: baseline;
	background-color: #FDF9DD;
	
}

#statusDocsLayout table tr th {
	padding: 10px 20px 10px 10px;
	background-color: #F7F1E7;
}

#statusDocsLayout form input {
	width: 4em;
}

#sendNumberStatusBtn {
	margin: 10px 0;
}

#statusDocsLayout .loadStatus, #statusDocsLayout .resultStatus {
	padding: 10px 0;
}

#statusDocsLayout .errorMsg { color: red; }
#statusDocsLayout .succMsg { color: green; }
/* //proverka gotovnosti dokumentov */

#kindergarden ul {
	padding: 0;
	margin: 0;
}

#kindergarden ul li {
	padding: 0.3em 1em 0.3em 2em;
	margin: 0.4em 0 0 0;
	border: 1px solid white;    
	list-style: none;
}

#kindergarden label {
	font-family: 'Arial', sans-serif;
	display: block;
}

#kindergarden label.form-label-left {
	font-size: 14px;
}

#kindergarden .form-sub-label-container {
	display: inline-block;
	margin-right: 1em;
}

#kindergarden label.form-sub-label {
	font-size: 13px;
	color: gray;    
	display: block;
}

#kindergarden .form-required {
	color: #E61B23;
	font-weight: bold;
	padding-left: 0.2em;
}

#kindergarden .form-line-error {
	background-color: #FFEDDE;
	border: 1px solid #E3656A;
}

#kindergarden .form-error-message {
	color: #F53C43;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 13px;
}

#kindergarden .form-error-message img {
	display: none;
}

#kindergarden .form-validation-error {
	background: none;
	background-color: white;
	border: 1px solid #E3656A;
}

#kindergarden .form-radio, #kindergarden .form-checkbox {
	margin: 0.4em 10px 0.5em 0;
	padding: 0;
	display: block;
	float: left;
}

#kindergarden .form-radio-item label, #kindergarden .form-checkbox-item label {
	display: block;
	float: left;
	width: 95%;
	font-size: 13px;
	color: #4b4b4b; 
	margin: 0 0 0.5em 0; 
}

#kindergarden .form-button-error {
	color: #F53C43;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 1em 0 1em 0;
}
/* // zapis v detsad */

.social {
	margin: 30px 0;
}

.b-share-popup a[target="_blank"], .social a[target="_blank"], .banner a[target="_blank"] {
	padding-right: 0;
	background: none;
}

.banner {
	padding: 15px 0;
}

.almostbanner {
	padding: 10px;
	margin: 30px 40px 10px 0;
	border-bottom: 1px solid #bea673;
	background-color: #fdf9dd;
	font: normal 13px/18px 'Arial', sans-serif;
}

#dept-header {
	background-color: #FDF9DD;
	border-bottom: 1px solid #BEA673;
	padding: 20px 10px;
}

#dept-header h1 {
	font: normal 32px/38px 'Georgia', serif;
}

#dept-header h1 a, #dept-header h1 a:visited {
	color: black;
	text-decoration: none;
}

#dept-header h1 a:hover, #dept-header h1 a:visited:hover {
	color: #C5064E;
	text-decoration: underline;
}
/*// department header */

.cfOfice {
	padding: 15px 0 0 0;
}

.cfOficeFieldSpace {
	/*padding: 8px 0 0 0;*/
}

.cfOfice span {
	font: normal 14px/26px 'Arial', sans-serif;
}

.cfOfice .cfOficeTitle {
	font: normal 18px/26px 'Georgia', serif;
}

.cfOficeFieldLabel {
	color: #79948C;
}

.office_level0 {
	/*margin-top: 5px;
	margin-bottom: 5px;*/
}

.office_level1, .office_level2, .office_level3, .office_level4, .office_level5, .office_level6, .office_level7 {
    border-left: 1px solid gray;
    padding-left: 20px;
}

.office_level1 { margin-left: 20px; }
.office_level2 { margin-left: 40px; }
.office_level3 { margin-left: 60px; }
.office_level4 { margin-left: 80px; }
.office_level5 { margin-left: 100px; }
.office_level6 { margin-left: 120px; }
.office_level7 { margin-left: 140px; }

/* Search */
.journal-content-article form{
margin: 20px 0 20px 0;
}

#search-div .results {
margin: 0 0 20px 0;
}

#search-div b, #search-div .highlight {
font-weight: bold;
}

#search-div .result .title {
    font: normal normal 400 18px/20px Georgia;
}
    
#search-div .result {
    padding: 0;
    padding-bottom:30px;
    padding-left: 60px;
    position: relative;
}
		    
#search-div .result .summary {
    font: normal normal 400 14px/20px Arial;
    margin:0; padding-top: 5px;
}
#search-div .result .title img {
    position: absolute;
    top: 0px;
    left: 27px;
}
#search-div .result .page-num {
    position: absolute;
    left: 0px;
    top: 2px;
}

.page-links .previous { margin-right: 15px; }
.page-links .next { margin-left: 15px; }